@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Контакты";
}
<div class="py-8">
    <h1 class="text-3xl font-bold text-gray-900">Контакты</h1>
    <p class="mt-4 text-lg text-gray-700">
        Адрес: 220006, г. Минск, ул. Свердлова, 13а<br>
        Телефон: +375 (17) 327-71-31<br>
        Email: info@belstu.by
    </p>
</div>