@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1>Добро пожаловать!</h1>
    <a class="btn btn-primary" href="@Url.Action("CreatePage", "ModelSituation")">СМОДЕЛИРОВАТЬ</a>
</div>