@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Главная";
}
<div class="py-8">
    <h1 class="text-3xl font-bold text-gray-900">Добро пожаловать на сайт МЧС БГТУ</h1>
    <p class="mt-4 text-lg text-gray-700">
        Наш отдел обеспечивает безопасность студентов и сотрудников университета. Ознакомьтесь с нашими программами,
        симулятором ЧС и интерактивными картами для подготовки к чрезвычайным ситуациям.
    </p>
</div>